@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap');


* {
  padding: 0 ;
  margin: 0 ;
  box-sizing: border-box;
  font-family: "Noto Sans Bengali", "Hind Siliguri", sans-serif;

}

body {
  padding: 0;
  margin: 0;
  background-color: #F9F9FA;
}

a {
  text-decoration: none !important;
  color: #262626
  
  
}
ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 600 ;
  font-family:  "Hind Siliguri", sans-serif;
  padding: 0 !important;
  margin: 0 !important;
}

h1 {
  font-size: 47.78px !important;
}

h2 {
  font-size: 39.81px !important ;
}

h3 {
  font-size: 33.18px  !important;
}

h4 {
  font-size: 27.65px  !important;
}


h5 {
  font-size: 23.04px !important ;
 
}


h6 {
  font-size: 19.2px ;
}

p {
  font-size: 16px;
  color: #262626;
  padding: 0 !important;
  margin: 0 !important;
}

small {
  font-size: 13.33px;
  color: #262626
}



/* common css */
.button-one {
  background-color: #4ea771;
  color: white;
  border: none;
  padding: 12px 35px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
}

.button-one:disabled {
  background-color: #8cbb9e;
}

.section-title {
  font-size: 35px;
  font-weight: 700;
  color: #013238;
}

.page-title {
  background-color: #4ea771;
  color: white;
  text-align: center;
  margin: 20px 0;
  padding: 25px;
  border-radius: 20px;
}

table {
  font-size: 17px;
}




/* modal css */

.modal-header {
  display: block !important;
  text-align: center;
}

.modal-header button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 22px;
}



/* .modal-body table, th, tr, td {
  border: 1px solid gray
} */


.group-title {
  margin-bottom: 12px !important ;
  display: inline-block;
  color: #4EA771;
  
}

/* confirmation page */
.confirmation-message {
  max-width: 700px;
  margin: 75px  auto;
  background-color: #f7f7f7;
  padding: 45px;
  border-radius: 20px;
  text-align: center;
}