.about-section {
    padding: 35px;
    background-color: white;
    margin: 25px 0;
    border-radius: 20px;
}

.video-thumbnail  {
    position: relative;
    
}


.video-thumbnail img {
    width: 100%;
    border-radius: 20px;
}

.video-thumbnail svg {
    position: absolute;
    top:0px;
    left: 125px;
    width: 35% !important;
}

.about-section tbody, .about-section td {
    border-bottom: 1px solid lightgray

}

.about-section td {
    padding: 3px

}