
.top-bar {
    height: 70px;
    background-color: rgb(235, 235, 235);
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 99;
}

.bar {
    font-size: 22px;
    margin-right: 20px;
    cursor: pointer;
}

.bar:hover {
    color: red;
}

.avater {
    width: 54px;
    border-radius: 50%;
}

.side-nav-open {
    padding-top: 75px;
    height: 100%;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    background-color: #ffffff;
    border-right: 1px solid rgba(0,0,0,.075);
    scrollbar-color: #CCCCCC #F5F5F5;
    scrollbar-width: thin;
}
.side-nav-close {
    padding-top: 75px;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    background-color: #ffffff;
    border-right: 1px solid rgba(0,0,0,.075);
    scrollbar-color: #CCCCCC #F5F5F5;
    scrollbar-width: thin;
}


.nav-items .nav-link {
    padding: 7px 15px;
    background-color: #ffffff;
    margin: 3px 10px;
    cursor: pointer;

}

.nav-items .nav-link:hover {
    background-color: #ffe313;

}


.content {
    transition: 0.3s;
    padding: 25px;
    margin-left: 240px;
}
.content-expand {
    padding: 25px;
    transition: 0.3s;
    margin-left: 0;
}
